.search-content {
	margin-top: 2rem;
	display: flex;
	flex-wrap: wrap;
	width: auto;
	gap: 2rem;
}

.page-title {
	color: white;
	letter-spacing: 8px;
	margin-left: 0;
	padding: 0;
}
.related-videos {
	margin: 0;
}
