.player-wrapper {
	top: 10%;
	position: relative;
	margin-bottom: 10%;
	padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
	position: absolute;
	top: 0;
	left: 0;
}
.back {
	display: flex;
	align-items: center;
	position: absolute;
	top: 5rem;
	left: 5rem;
	color: white;
	cursor: pointer;
	z-index: 2;
}
