@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
.row {
	margin-top: 0;
	padding-right: 2rem;
}
.movie-card {
	background-color: #222;
	background-image: linear-gradient(rgba(0, 0, 0, 0), #000);
	display: flex;
	transition-duration: 0.2s;
	height: 250px;
	border-radius: 4px !important;
	transition: transform 0.45s;
}

.movie-card-container {
	height: 100%;
}
.movie-card-img {
	height: 100%;
}

.movie-card:hover {
}

.row-title {
	color: white;
	font-size: 30px;
	margin-bottom: 20px;
	font-family: "Noto Sans JP", sans-serif;
	margin: 0 30px;
	letter-spacing: 8px;
}

.row-posters {
	margin-left: 2rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.cast-container {
	height: 300px;
}
.row-posters::-webkit-scrollbar {
	display: none;
}

.handle {
	color: white;
	background-color: rgb(64, 64, 64);
	height: 100%;
}

@media screen and (max-width: 500px) {
	.row-title {
		font-size: 25px;
	}
}

@media screen and (max-width: 420px) {
	.row-title {
		margin: 0 20px;
		font-size: 23px;
	}
}
