.cast-name {
	color: white;
}
.imdb {
	position: relative;
	display: flex;
}
.imdb-img {
	width: 100px;
}

.imdb-rating {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 60px;
	width: 40px;
	text-align: center;
	color: black;
	font-size: 12px;
	font-weight: 900;
	z-index: 10;
}
